* {
  margin: 0;

  font-family: sans-serif;
}



header {
  margin-bottom: 100px;

  /* background-color: #3d4a59; */
  /* background:radial-gradient(114.1% 60.7% at 50% 45.6%,#002d3e 0%,#040819 100%) ; */

  color: white;
  border-radius: 0 0 70px 70px;
  /* position: fixed;right: 0;left: 0;bottom: 0;top: 0; */

}

header h1 {
  margin-bottom: 5px;
}

.parent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.parent li a {
  color: #fff;
  text-decoration: none;

  margin-top: 6px;
  display: inline-block;
}

.parent li a:hover {
  border-bottom: 2px solid red;
  font-size: 20px;

}

.mode {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.dark .mode {
    box-shadow: 5px 5px 25px rgb(179, 172, 172);
    border: none;
}

.mode:hover{
  box-shadow: 5px 5px 25px rgb(179, 172, 172);
  border: none;
  /* outline: none; */
}



li {
  list-style-type: none;
  font-size: 18px;
}

h1 {
  text-align: center;
  padding: 10px 0;

  width: 40%;
  margin-left: auto;
  margin-right: auto;

  /* background-color: #3d4a59; */
    background:radial-gradient(114.1% 60.7% at 50% 45.6%,#002d3e 0%,#040819 100%) ;

  color: #fff;
  border-radius: 17px;

  padding: 15px;
}

section {
  margin-bottom: 100px;
  /* box-shadow: 5px 5px 25px rgb(179, 172, 172); */
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
  padding: 45px 0;
  transition:  all 0.9s;
}

.alosh{
  overflow: hidden;
}

.left-section,
.right-section {
  width: 49%;

  text-align: center;
  margin-top: 60px;
}

.left-section h3 {
  font-size: 26px;
  margin: 20px 0;
}

.left-section p {
  font-size: 20px;
  margin: 25px 0;
}

.facebook,
.youtube {
  background-color: royalblue;
  color: #fff;
  margin: 10px;
  padding: 8px 16px;
  border-radius: 6px;

  text-decoration: none;
}

.youtube {
  background-color: rgb(255, 62, 62);
}

.my-img {
  border-radius: 50%;
  width: 150px;

  border-right: 2px solid #ff8a00;
  border-left: 2px solid #ff8a00;
  border-bottom: 2px solid #e52e71;
  border-top: 2px solid #e52e71;
}

article h5 {
  font-size: 39px;
  font-weight: 500;
  font-family: "Sacramento", cursive;
  margin-top: 10px;
}

.para {
  font-size: 20px;
}

.flex {
  display: flex;

  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
}

.design {
  background-color: #3d4a59;
  color: #fff;
  padding: 15px;
  text-align: center;

  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-bottom: 0;
}

.follow {
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 16px 0;
  text-align: center;
  margin: 0 auto 10px;
  border-top: 6px solid #3d4a59;

  opacity: 0.9;
  width: 99%;
}

.follow a {
  border: 1px solid #3d4a59;
  border-radius: 4px;
  padding: 4px 10px;
  text-decoration: none;
}

.follow a:hover {
  padding: 5px 12px;
  background-color: rgb(16, 73, 243);
  color: #fff;
}


.mycard{
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px !important;
  margin-top: 30px;
}


.tismb::after{
  margin-bottom: 60px;
  content: "Hussain Ali";
}

.bc{
  background-color: #e52e71;
  color: #ff8a00;
}

.gfg{
  color:rgb(143, 145, 18) !important
}

.mp{
  margin-bottom: 50px !important;

}

.contaner1{

  margin-top: 100px;
border: 2px solid paleturquoise;
  width: 60%;
  text-align: center;
  background-color: #e52e71;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px !important;
  padding: 20px 0;
}

.contaner1 p{
  font-size: 20px;
}

.big-container{
  background-color: #ff8a00 ;
  position: fixed;
  top: 0; right: 0;left: 0; bottom: 0; 

  display: none;

}



.displayBlock{
  display: block;
}


dialog::backdrop {
background-color: #001afff6;
opacity: .9;
}

.alert-wrapper{
  background-color: aqua !important;
}


/* .dark header {
background-color: #e52e71;
} */

.dark h1{
  background-color: rgb(27, 14, 39);
  color: aqua;
}

.dark {
  color: #fff;
  /* background-color: rgb(20, 20, 20) ; */
  background:radial-gradient(114.1% 60.7% at 50% 45.6%,#002d3e 0%,#040819 100%) ;

}

.dark header h1 {
  background-color: transparent;
}


/* ____________________scroll bar */
::-webkit-scrollbar {
  width: 1.1rem;
 }
 
::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  }
 
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #9e4673, #3d4a59);
  border-radius: 1rem;
}
 
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(270deg, #9e4673, #3d4a59, #9e4673);
}
 
/* for Firefox */
 html {scrollbar-color: #9e4673 #3d4a59;} 

 /* -------------------end scroll  */

.big{
  font-size: large;
  font-style: italic;
}



.dark p{
 color: #000;
}


.flex-card{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  

}



/* ---------------level 3 ----chang color ul  */

#ulcolor{
  display: none;
  display: flex;
  justify-content: space-around;
  position: absolute;
  /* left: 10vw;
  right: 10vw; */
  box-shadow: 0 5px 25px 0 rgb(0 0 0 / 60%);
  padding: 1rem;
  border-radius: 0.5rem;
  color: #3d4a59;
  margin-right: 1rem;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  flex-direction: column;
  cursor: pointer;
  min-width: 100px;
}
  
#ulcolor li:hover{
  border-bottom: 2px solid rgb(231, 5, 5);
}

/* ------------------------------------ */
#vedio1{

height: 700px; 
 border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px; 
 animation: moveedio 0.5s  1  ;
}

#babaIframe{
 text-align: center;
 margin-top: 50px;

}

@keyframes moveedio{
  0%   {transform: translate(100vw,0);}
  100%  {transform: translate(0,0);}
}

/* @keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
} */




        
.myButton {
	box-shadow: 0px 11px 11px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:16px 39px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
/* ---------------- */


margin: 20px auto 50px auto;
display: block;
width: 15vw;
height: 4rem;
border: none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;


}
.myButton:active {
	position:relative;
	top:2px;

}


/* --------------------snow  */




.icon-snowflake-o{
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, 2px 3px 12px rgba(206,206,206,0);
      animation: fall  linear forwards;
  color: #f2f7f8;
  position: absolute;

  /* top: -20px; */

}

@keyframes fall{
  to{
    transform: translateY(105vh) rotate(1360deg);
    
  }
}




img{
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


/* -------------------- hart rundom */

.hart{
  font-size: 30px;
  animation: fallhart 2s 1 linear forwards;
  position: fixed;
  top: 0;
}

@keyframes fallhart {
  0%{
    transform: translateY(-5vh);
  }
  100%{
    transform: translateY(110vh);
  }
}


.q1 , .q2 ,.q3{
  margin: 40px auto 0px auto;
  width: 80%;
}

.plus{
  font-size: 30px;
  padding-right: 15px;
}
.plus:hover{
  cursor: pointer;
}

.titleq{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(11, 137, 211);
  color: white;
  border-radius: 5px;
  padding: 5px;

}

.titleq h2{
  padding-left: 20px;
}

.contentq{
  padding: 20px ;
  background-color: rgba(255, 251, 30, 0.295);
  transition: all 0.5s;
  height: 0;
  opacity: 0;
  font-size: 20px;
  border-bottom: 2px solid rgb(11, 137, 211);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;


}

.contentActive{
  opacity: 1;
}



/* --------------Html accordion  */

details{
  font-size: 25px;
  width: 80%;
  margin: 50px auto;
}

details p{
  font-size: 20px;
  margin-top: 50px;
  background-color: #599bb3;
}




/* --------------Digital Clock */


.clockContainer{
  margin: 40px auto 0px auto;
  width: 40%;
  text-align: center;
  background-color: #1827b3cc;
  color: white;
  padding: 20px;
  border-radius: 7px;
  font-size: 15px;
  transition: all 0.3s;
}
.clockContainer:hover{
  box-shadow: 5px 5px 15px rgba(0, 0, 255, 0.651);
  background-color: #1828b3;
  width: 42%;
}
#time{
  font-size: 25px;
  margin-top: 12px;
  font-weight: 600;
}




/* -----------------slider  */

/* .srcimg{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 50px;
} */


/* .slider-cont{
  width: 100%;
  position: relative;
  padding: 100px 0px;
  overflow: hidden;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
} */


#relat{
  position: relative;
  overflow: hidden;
  width: 100vw;
}


.carousel-itemss , .srcimg {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  
}





.slider-cont p{
  position: absolute;
top: 2%; 
left: 3%;
color: white;
font-size: 20px;
/* font-weight: bold; */
}

.btnSlider{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center ;
  margin: auto;
  bottom: 10%;


}
.btnSlider button{
  all: unset;
  /* color: rgb(255, 255, 255); */

}

#prev , #next{
  background-color: #1827b3d8;
  padding: 5px;
  border-radius: 3px;
  display: none;
}
#prev:hover , #next:hover{
  background-color: #1828b3;
}
#prev:disabled , #next:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
#prev:active{
  transform: translateX(-4px);
}
#next:active{
  transform: translateX(4px);
}

.allnumSlider button {
  border-radius: 50%;
  /* padding: 3px 5px ; */
  margin-left: 5px;
  color: black;
  overflow: hidden;
}

.allnumSlider button img{
  width: 70px;
  height: 70px;
}
.allnumSlider button:hover{
  border: 3px  inset white;
  /* transform: scale(1.3) */
  
}

.allnumSlider button:active{
  padding: 5px 8px;
}

.allnumSlider button .activeNume {
  width: 100px;
  height: 100px;
  z-index: 500;
  /* transform: scale(3.3) ; */
  transition: all 0.3s ease;

}

@media (max-width: 767px) {
  .carousel-itemss{
    background-position: left;

  }
  #prev , #next{
    display: none;
  }
  .allnumSlider button{
    /* width: 100%; */
    /* justify-content:space-between; */
    /* align-items: center ; */
    margin-left: -20px;
  }
  .allnumSlider{
    margin-left: 20px;
  }
  
  /* #relat{
    width: 100vw;
  } */
}




/* --------- */